APP_NAME=RAG Chatbot
APP_VERSION=0.0.1
ENVIRONMENT=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=my_chatbot_db
DB_USER=postgres
DB_PASSWORD=

OPENAI_API_KEY=
EMBEDDING_MODEL=text-embedding-3-small
EMBEDDING_BATCH_SIZE=100
